/* font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* BASE  */
* {
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}


/* header  */
header {
    margin-bottom: 85px;
    background-color: rgba(255, 144, 14, 0.10);

}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 900px;
    margin-bottom: 100px;
}

.ancors {
    margin-top: 50px;
}

.ancors a {
    margin-right: 35px;
    color: #424242;
    text-decoration: none;
    font-size: 18px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
}

/* container  */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

.brand-description {
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    margin-bottom: 50px;
}

.container img {
    width: 1440px;
    height: 700px;
    margin-bottom: 45px;
}

/* grid-box */
.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.grid-box img {
    width: 342px;
    height: 342px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-two {
    display: flex;
    gap: 80px;
    align-items: center;
    width: 1320px;
}

.grid-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.grid-description {
    color: #727272;
    font-size: 16px;
    margin-bottom: 32px;
}

.ash {
    color: #727272;
    font-weight: 500;
}

.black {
    color: #131313;
    font-weight: 700;
}

.orange {
    color: #FF900E;
    font-weight: 700;
}

/* chinese  */
.chinese {
    margin-top: 130px;
    display: flex;
    gap: 100px;
    width: 1320px;
    align-items: center;
}

.love {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.love-title {
    font-size: 45px;
    font-weight: 700;
}

.love hr {
    margin-right: 21px;
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    border: none;
}

.description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.chinese p {
    margin-bottom: 30px;
}

.cards {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 25px 30px 25px 25px;
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.chinese-img img {
    width: 708px;
    height: 1000px;
    border-radius: 8px;
}

/* big button  */
.ten-year {
    font-size: 65px;
    font-weight: 700;
}

.experience {
    font-size: 25px;
    font-weight: 500;
}

.secondary {
    display: block;
    margin: auto;
    margin-top: 50px;
}








@media screen and (max-width:667px) {

    /* NAVBAR  */
    .nav {
        gap: 20px;
        margin-bottom: 30px;
    }

    .nav-title {
        font-size: 30px;
    }

    .ancors a {
        display: flex;
    }

    /* brand  */
    .brand-title {
        font-size: 30px;
    }

    .brand-description {
        font-size: 11px;
    }

    .brand-description br {
        display: none;
    }

    .btn-primary {
        margin-bottom: 40px;
    }

    .container img {
        width: 300px;
        height: 150px;
    }

    /* grid-box  */
    header {
        margin-bottom: 35px;
    }

    .grid-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .grid-box img {
        width: 280px;
        height: 280px;
    }

    .container-two {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .grid-informations {
        text-align: center;
    }

    .grid-title {
        font-size: 32px;
        margin-bottom: 14px;
    }

    .grid-description {
        font-size: 11px;
        margin-bottom: 22px;
    }

    /* chinese  */
    .chinese {
        margin-top: 0px;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    /* .love {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    } */

    .love-title {
        font-size: 32px;
    }

    .love hr {
        margin-right: 15px;
        height: 55px;

    }

    .description {
        font-size: 12px;
    }

    .chinese p {
        margin-bottom: 20px;
    }

    .cards {
        padding: 15px 20px 15px 15px;
        margin-bottom: 15px;
    }

    .card-title {
        font-size: 15px;
    }

    .chinese-img img {
        width: 250px;
        height: 350px;
    }

    /* big button  */
    .ten-year {
        font-size: 45px;
    }
    .experience {
        font-size: 15px;
    }
    .secondary {
        margin-top: 20px;
    }



}